<div class="jumbotron">
  <%= render 'shared/page_title', title: "Chef Chat" %>
  
  <div class="row chat-container">
    <div class="col-md-8 center-block well">
      <div class="messages" id="messages">
       <%= render @messages %> 
      </div>
    
      <div class="message-container well clearfix">
        <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <%= f.text_area :content, class: "form-control", data: { behavior: "room_speaker" }, placeholder: "Enter a message" %>
          <%= f.submit "Send", class: "btn btn-info btn-lg", data: { send: "message" } %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>