<div class="jumbotron">
  <%= render 'shared/page_title', title: "Showing all chefs" %>
  
  <div align="center">
    <div align="center">
      <%= will_paginate %>
    </div>
    <% @users.each do |user| %>
      <ul class="listing">
        <div class="row">
          <div class="well col-md-4 col-md-offset-4">
            <li><%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="chef-title"><%= link_to user.username.capitalize, user_path(user) %></li>
            <li><small><%= pluralize(user.recipes.count, "recipe") if user.recipes %></small></li>
            <li><%= link_to "Delete this Chef", user_path(user), method: :delete,
                    data: {confirm: "Are you sure you want to delete chef and all associated recipes"} %></li>
          </div>
        </div>    
      </ul>
    <% end %>
  </div>
  <div align="center">
    <%= will_paginate %>
  </div>
</div>

